.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.titre{
  margin:50px
}
.formulaire{
  display: flex;
  align-items: center;
  height: 100vh;
}
.theform{
  border: 1px solid black;
  width: 80vh;
  height: 60vh;
  padding: 50px;
}